
<!DOCTYPE html>
<html>
<title>Cardio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/WebsiteCSS.css">
<body>

<!-- Navbar (sit on top) -->
<div class="top">
  <div class="bar white wide padding card">
    <a href="../index.html" class="bar-item button"><b>FYF</b>   FIT YOUR FIT</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right hide-small">
      <a href="index.html#projects" class="bar-item button">Workout Plans</a>
      <a href="index.html#about" class="bar-item button">About</a>
      <a href="Login.html" class="bar-item button">{{ error }}</a>
    </div>
  </div>
</div>
	
<div id="TOP">
	<br>
	<br>
	<h1> Cardio </h1>
</div>
	

<!-- Running -->
<header class="display-container content wide" style="max-width:1500px;" id="RUNNING">
  <img class="image" src="static/Cardio/Running.jpg" alt="Architecture" width="1200" height="400">
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #JUMP>Running</a></b></span></h1>
  </div>
</header>
	
<br>
	
<!-- Jumping Rope -->
<header class="display-container content wide" style="max-width:1500px;" id="JUMP">
  <center><img class="image" src="static/Cardio/Jump_Rope.jpg" alt="Architecture" width="1200" height="400"></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #CYCL>Jumping Rope</a></b></span></h1>
  </div>
</header>
	
<br>

<!-- Cycling -->
<header class="display-container content wide" style="max-width:1500px;" id="CYCL">
  <center><img class="image" src="static/Cardio/Cycling.jpg" alt="Architecture" width="1200" height="400"></center>
  <div class="display-middle margin-top center">
	  <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b><a href = #TOP >Cycling</a></b></span></h1>
  </div>
</header>

<!-- End page content -->
</div>


</body>
</html>
