<!DOCTYPE html>
<html>
	<title>Fit Your Fit</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="static/WebsiteCSS.css">
	<body>

		<!-- Navbar (sit on top) -->
		<div class="top">
			<div class="bar white wide padding card">
				<a href="#home" class="bar-item button"><b>FYF</b>   FIT YOUR FIT</a>
				<!-- Float links to the right. Hide them on small screens -->
				<div class="right hide-small">
					<a href="#projects" class="bar-item button">Workout Plans</a>
					<a href="#about" class="bar-item button">About</a>
					<a href="Login.html" class="bar-item button">{{ error }}</a>
				</div>
			</div>
		</div>

		<!-- Header -->
		<header class="display-container content wide" style="max-width:1500px;" id="home">
			<img class="image" src="/static/BackGround.jpg" alt="Architecture" width="1500" height="800">
			<div class="display-middle margin-top center">
				<h1 class="xxlarge text-white"><span class="padding black opacity-min"><b>FYF</b></span> <span class="hide-small text-light-grey">FIT YOUR FIT</span></h1>
			</div>
		</header>

		<!-- Page content -->
		<div class="content padding" style="max-width:1564px">

			<!-- Workout Plans -->
			<div class="container padding-32" id="projects">
				<h3 class="border-bottom border-light-grey padding-16">Workout Plans</h3>
			</div>

			<div class="row-padding grayscale">
				<div class="col l3 m6 margin-bottom">
					<div class="display-container">
						<div class="display-topleft black padding"><a href = "UpperBody_Main.html"> Upper Body </a></div>
						<a href = "UpperBody_Main.html">
							<img src="/static/UpperBody/UpperBodyImage.jpg" alt="House" style="width:100%">
						</a>
					</div>
				</div>
				<div class="col l3 m6 margin-bottom">
					<div class="display-container">
						<div class="display-topleft black padding"><a href = "LowerBody_Main.html">Lower Body</a></div>
						<a href = "LowerBody_Main.html">
							<img src="/static/LowerBody/LowerBodyImage.jpg" alt="House" style="width:96%">
						</a>
					</div>
				</div>
				<div class="col l3 m6 margin-bottom">
					<div class="display-container">
						<div class="display-topleft black padding"><a href = "Cardio_Main.html">Cardio</a></div>
						<a href = "Cardio_Main.html">
							<img src="/static/Cardio/CardioImage.jpg" alt="House" style="width:90%">
						</a>
					</div>
				</div>
			</div>

			<!-- About Section -->
			<div class="container padding-32" id="about">
				<h3 class="border-bottom border-light-grey padding-16">About</h3>
				<p>EAT. SLEEP. BREATHE. FITNESS!
				</p>
			</div>

			<div class="row-padding grayscale" >
				<div class="col l3 m6 margin-bottom">
					<img src="/static/about/Ravi.JPG" alt="Ravi">
					<h3>Ravi Patel</h3>
					<p class="opacity">Founder</p>
					<p>I am working on the frontend work. Making the Website look good and work properly.</p>
					<p><button class="button light-grey block">Contact</button></p>
				</div>
				<div class="col l3 m6 margin-bottom">
					<img src="/static/about/Kishan.JPG" alt="Kishan">
					<h3>Kishan Tailor</h3>
					<p class="opacity">Founder</p>
					<p>I am working on the backend work. Making the SQL server work and store our data correctly.</p>
					<p><button class="button light-grey block">Contact</button></p>
				</div>
				<div class="col l3 m6 margin-bottom">
					<img src="/static/about/Jarod.JPG" alt="Jarod">
					<h3>Jarod Jelinek</h3>
					<p class="opacity">Founder</p>
					<p>I am working on the backend work. Making the SQL server work and store our data correctly.</p>
					<p><button class="button light-grey block">Contact</button></p>
				</div>
				<div class="col l3 m6 margin-bottom">
					<img src="/static/about/Josh.jpg" alt="Josh" style="width:60%">
					<h3>Josh Gray</h3>
					<p class="opacity">Founder</p>
					<p>I am working on the frontend work. Making the Website look good and work properly.</p>
					<p><button class="button light-grey block">Contact</button></p>
				</div>
			</div>
			<!-- End page content -->
		</div>

		<!-- Background at the end -->
		<header class="display-container content wide" style="max-width:1500px;" id="home">
			<img class="image" src="/static/BackGround.jpg" alt="Architecture" width="1500" height="800">
			<div class="display-middle margin-top center">
				<h1 class="xxlarge text-white"><span class="padding black opacity-min"><b>FYF</b></span> <span class="hide-small text-light-grey">FIT YOUR FIT</span></h1>
			</div>
		</header>


	</body>
</html>
