<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>Logged In</title> 
        <link href="loggedIn.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Play" rel="stylesheet">
    </head>

<body>
    <div class="loggedIn">
        <form>
            <h2 style="color: white">Login Successful!</h2>
            <a href="../index.html" style="text-decoration: none">Home Page</a> 
            <br><br>
        </form>
    </div>

</body>
</html>