
<!DOCTYPE html>
<html>
<title>Lower Body</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/WebsiteCSS.css">
<body>

<!-- Navbar (sit on top) -->
<div class="top">
  <div class="bar white wide padding card">
    <a href="../index.html" class="bar-item button"><b>FYF</b> Lower Body </a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right hide-small">
      <a href="index.html#projects" class="bar-item button">Workout Plans</a>
      <a href="index.html#about" class="bar-item button">About</a>
      <a href="Login.html" class="bar-item button">{{ error }}</a>
    </div>
  </div>
</div>
	
<div>
<br>
<br>
</div>


<!-- Back Squats -->
<header class="display-container content wide" style="max-width:1500px;" id="SQUAT">
<center><a href = #DL><img class="image" src="static/LowerBody/Squats.jpg" alt="Architecture" width="1200" height="200"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Back Squats </b></span></h1>
  </div>
</header>

<br>

<!-- Dead Lifts -->

<div id="DL">
<br>
<br>
<header class="display-container content wide" style="max-width:1500px;">
  <center><a href = #LUNGE><img class="image" src="static/LowerBody/Dead_Lifts2.jpg" alt="Architecture" width="1200" height="400"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Dead Lifts </b></span></h1>
  </div>
</header>
</div>

<br>
	
<!-- Lunges -->
<header class="display-container content wide" style="max-width:1500px;" id="LUNGE">
<center><a href = #top><img class="image" src="static/LowerBody/Lunges.jpg" alt="Architecture" width="1200" height="400"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Lunges </b></span></h1>
  </div>
</header>
<br>	
	
<!-- End page content -->
</div>


</body>
</html>
