
<!DOCTYPE html>
<html>
<title>Upper Body</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/static/WebsiteCSS.css">
<body>

<!-- Navbar (sit on top) -->
<div class="top">
  <div class="bar white wide padding card">
    <a href="index.html" class="bar-item button"><b>FYF</b> Upper Body</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="right hide-small">
      <a href="index.html#projects" class="bar-item button">Workout Plans</a>
      <a href="index.html#about" class="bar-item button">About</a>
      <a href="Login.html" class="bar-item button">{{ error }}</a>
    </div>
  </div>
</div>
	

<!-- Sit Ups -->
<header class="display-container content wide" style="max-width:1500px;" id="SU">
  <center><a href = #PUSH><img class="image" src="/static/UpperBody/Sit_Ups.jpg" alt="Architecture" width="1000" height="400"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Sit Ups </b> </span> </h1>
</div>
</header>
	
<br>

<!-- Push Ups -->
<header class="display-container content wide" style="max-width:1500px;" id="PUSH">
  <center><a href = #PULL><img class="image" src="/static/UpperBody/Push_Ups.jpg" alt="Architecture" width="1000" height="400"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Push Ups </b> </span> </h1>
  </div>
</header>
	
<br>
	
<!-- Pull Ups -->	
<header class="display-container content wide" style="max-width:1500px;" id="PULL">
  <center><a href = #top><img class="image" src="/static/UpperBody/Pull_Ups.jpg" alt="Architecture" width="1200" height="800"></a></center>
  <div class="display-middle margin-top center">
    <h1 class="xxlarge text-white"><span class="padding black opacity-min"><b> Pull Ups </b> </span> </h1>
  </div>
</header>

<br>

<!-- End page content -->
</div>


</body>
</html>
